    
    
*{
    padding: 0;
    margin: 0;
}
:root{
    --coleur-star:rgb(236, 240, 4);
}
html{
    transition: .5s linear;
    scroll-padding-top: 5em;
    scroll-behavior: smooth;
    font-size: 100%;
 }
@font-face {
    font-family: "Android Scratch";
    src: url(image/Android\ Scratch.ttf) format('truetype');
}
@font-face {
   
    font-family: 'Cut the crap';
    src: url(image/Cut\ the\ crap.ttf) format('truetype');
}
body{
    background-color: black;
    color: white;
}
.acceuille{
    background-image: url(image/fond.jpg);
  
}
.logo{
    color: white;
    font-family: "Android Scratch";
    font-size: 1.2em;
    

}
.head{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 1.5em;
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.acll{
    border: 1px solid white;
    padding: 5px 1em;
}
.nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 2.5em;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gpIcon{
    margin-right: 2em;
    
}
.gpIcon ul li a{
    text-decoration: none;
    color: white;
}
.gpIcon ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5em;
    transition: 0.2s;
    padding: 8px;
    border-radius:5px ;
}
.gpIcon ul li:hover{
    background-color: rgb(80, 11, 11);
    transition: 0.2s;
    border-radius:5px ;
}
.logo span{
    color: rgb(80, 11, 11);
    font-family: sans-serif;
    font-size: 2.5em;
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    font-weight: bold;
    
}
.contenu1 h2{
    font-family: sans-serif;
    font-size: 3em;
    color:transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);

}
.icon1{
    color: white;
}
.contenu1 h4{
    
    font-family: sans-serif;
    font-size: 2em;
    color:transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.contenu1{
    margin-left:2.5em ;
}
.foot{
    margin-right: 5em;
}
.contenu1 p{
    color: rgb(190, 190, 130);
    font-style: italic;
}
.contenu1 span{
   font-weight: bold;
   color: white;
  /* border: 1px solid  rgb(109, 21, 21);;*/
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-family: sans-serif;
   font-size: 1.2em;
}
.detail{
 
    font-weight: bold;
    color: rgb(5, 4, 4);
   /* border: 1px solid  rgb(109, 21, 21);;*/
    padding: 10px;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    width: 10%;text-align: center;
    border-radius: 0px;
    

}
.acc{
    border: 1px solid white;
    padding: 0.2em;
}
.foot img{
    width: 1.5em;
    float: right;
    margin-left: 1em;
}
.heros1{
    display: none;
    text-align: center;
    
    text-align: center;
    padding: 0 2em;
    position: absolute;
    left: 42%;
    top: 100%;
    background-color: black;
    padding: 0 1em 2em 2em;

}
.etsy{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fleche.rot{
    transition: 1.5s;
    transform: rotate(90deg);

}
 .heros1 a{
    text-align: center;
}

.nav .fleche{
    transition: 0.5s;
}

.heros1 ul li{
    display: flex;
    padding-top: 1em;
}
.recherche{
    position: absolute;
    top: 180%;
    right: 0;
    width: 50%;
    display: none;
}
.recherche .cadre{
    height: 3em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.781);
   border-radius: 5px;
}

.cont1, .cont2{
    
    display: inline-block;
    vertical-align: top;
    
    font-family: 'Times New Roman', Times, serif;
}

.hero h2{
    font-family: 'Android Scratch';
    text-align: center;
}
.cont2{
    
    width: 50%;
    height: 70%;
    margin-left: 1em;
    
}
.cont1{
    padding: 1em;

    width: 40%;
    margin-left: 1em;
    height: 70%;
    border: 1px solid white;
    

}
 
.h1{
    width:40em;
    box-shadow: 2px 3px 3px rgb(34, 30, 30);

}
.h2{
    width: 8em;
    box-shadow: 2px 3px 3px rgb(34, 30, 30);

}
.cont1 h3,.cont3 h4, .cont41 h4, .cont42 h4, .cont43 h4{
    font-family: 'Android Scratch';
    text-align: center;
}
 .h2{
      display: flex;
      margin-top: 1em;
}
.cont3{
    margin-left: 2em;
  
    width: 20%;
}
.cont3 h2{
    margin-left: 1.5em;
}
.cont4{
    
    border: 1px solid white;
    padding: 1em;
}
.cont3, .cont4{
    display: inline-block;
    vertical-align: top;
}
.cont41, .cont42, .cont43{
    display: inline-block;
    
    vertical-align: top;
}
.cont1 span{
    
   font-weight: bold;
   color: white;
  /* border: 1px solid  rgb(109, 21, 21);;*/
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-family: sans-serif;
   font-size: 1.2em;
}
.imrs2{
    width: 13em;
    border: 1px solid white;
  
    box-shadow: 3px 3px 3px rgb(22, 21, 21);
}
.kra1{
    width: 12em;
    height: 8em;
    border: 1px solid white;
    box-shadow: 3px 3px 3px rgb(17, 16, 16);
}
.iron{
    margin: 1em;
    background:url(image/dark_winter_night-wallpaper-1920x1080.jpg);
  margin: 0;
  background-size: cover;
  padding-top: 2em;

  
}
.imrs1{
    margin-left: 2em;
    height: 13em;
    border: 1px solid white;
    box-shadow: 3px 3px 3px rgb(22, 21, 21);
  
}
.iron h3{
    text-align: center;
    font-family: 'Android Scratch';
    color: rgb(189, 189, 0);
}
.rs1{
    margin-left: 0.5em;
   
}
.rs1 i{
    color: rgb(255, 255, 117);
}
.rs2{
    margin-left: 1em;
    border: 1px solid white;
    padding: 1em;
}
.s1, .rs1, .rs2{
    display: inline-block;
    vertical-align: top;
}
.gp, .rs3,.maji{
    display: inline-block;
    margin-top: 3em;
    margin-left: 1.5em;
    text-align: center;
}
.rs3 span{
    font-family: 'Android Scratch';
    color: rgb(189, 189, 0);
    font-weight: bold;
}
.pres{
    margin-left: 10em;
}
.pres span{
    
    
   font-weight: bold;
   color: white;
  /* border: 1px solid  rgb(109, 21, 21);;*/
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-family: sans-serif;
   font-size: 1.2em;
   margin-left: 0.5em;
}
.av{
    width: 7em;
}
.maji{
    border: 1px solid white;
    padding: 1em;
    text-align: center;
    background-color: rgb(10, 10, 10);
}

.c1,.c1a,.c1aa,.c2a,.c2,.c2aa,.c3,.c3a,.c3aa{
    width: 20em;
    height: 15em;
    
}
.c1a,.c1aa,.c2a,.c2aa,.c3a,.c3aa{
    display: none;
}

.window{
    padding: 1em;
}
.window h2, .window h4{
    text-align: center;
    font-family: 'Android Scratch';

}
.window .vol{
    margin-left: 2em;
}
.cage1, .cage2, .cage3{
    text-align: center;
    background-color: rgb(22, 37, 37);
    margin-top: 3em;
    display: inline-block;
    padding-bottom: 3em;
    margin-left: 4em;
    font-style: italic;
    }
    .cage1 span, .cage2 span, .cage3 span{
         
   font-weight: bold;
   color: white;
  /* border: 1px solid  rgb(109, 21, 21);;*/
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-family: sans-serif;
   font-size: 1.2em;
    }
    .window i {
        color: var(--coleur-star);
        
    }
    .window spa{
        font-family: 'Android Scratch';
        color: var(--coleur-star);
    }
    .cage1 .fl, .cage1 .fl0, .cage2 .fl1, .cage2 .fl2,.cage3 .fl3,.cage3 .fl4{
        cursor: pointer;
        color: white;
        font-size: 1.2em;
    }



.capAmerica h2{
   text-align: center;
   font-family: 'Android Scratch';
}
.tube1, .tube2, .tube3{
    display: inline-block;
    vertical-align: top;
    margin-top: 3em;
    margin-left: 7em;
    border-left: 2px solid white;
    padding-left: 10px;
}
.sG{
    width: 15em;
}
.sK{
 width: 8em;
 float: left;
 margin: 1em;
}
.tube1 h3, .tube2 h3, .tube3 h3{
   font-family: 'Android Scratch';
   font-weight: bold;
   color: white;
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-size: 1.2em;
   margin-left: 0;
  text-align: center;
  
}
.capAmerica{
    background: url(image/-82221097.jpg);
    background-size: cover;
}







.tor h3, .fo1 h3, .fo2 h3, .fo3 h3{
    text-align: center;
    font-family: 'Android Scratch';
}
.fo1 h3, .fo2 h3, .fo3 h3{
    background-color: black;
    padding: 10px;
}
.t1, .t2{
    width: 20em;
    box-shadow: 3px 3px 2px rgb(17, 16, 16);
    border-radius: 3px;
}
.sf{
    width: 8em;
    border: 1px solid rgb(73, 72, 72);
}

.tatar1, .tatar2{
    border: 1px solid rgb(77, 75, 78);
    padding: 10px;
}
.iw, .tatar1{
    display: inline-block;
    margin-top: 1em;
    margin-left: 8em;
    vertical-align: middle;
    
}
.tatar2, .sar1{
    display: inline-block;
    vertical-align: middle;
    margin-top: 1em;
    margin-left: 8em;
    text-align: right;
}
.fo1, .fo2, .fo3{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 2em;
  /*  border: 1px solid grey;*/
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    background-color: rgba(3, 26, 37, 0.801);
    backdrop-filter: blur(2em);
}
.kk{
    margin-left: 8em;
}
 .fo3 i{
     color: rgb(214, 211, 6);
 }
 .fo3 span{
     
   font-weight: bold;
   color: white;
  /* border: 1px solid  rgb(109, 21, 21);;*/
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-family: sans-serif;
   font-size: 1.2em;
 }




.hist{
    background-color: rgb(247, 247, 247);
    color: black;
    margin-top: 2em;
    padding-top: 3em;
    padding-left:10px ;
    padding-right: 10px;
}
 .pt1 h4, .pt2 h4, .pt3 h4, .pt4 h4, .pt5 h4, .pt6 h4{
    text-align: center;
    font-family: 'Android Scratch';
}
.grand h3{
    text-align: left;
    font-family: 'Android Scratch';
}
 .pt{
     width: 14em;
     height: 8em;
 }
 .trpet{
     width: 4em;
 }
 .pt1, .pt2, .pt3{
     display: inline-block;
     vertical-align: top;
     margin-left: 0.2em;
 }

 .pt4, .pt5, .pt6{
    display: inline-block;
    vertical-align: top;
    margin-left: 0.2em;

 }
 .grand span{
     
   font-weight: bold;
   color: white;
  /* border: 1px solid  rgb(109, 21, 21);;*/
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-family: sans-serif;
   font-size: 1.2em;
 }
 .grand i{
     color: var(--coleur-star);
     text-align: center;
 }
 .colone1 h3{
     text-align: left;
     font-family: 'Android Scratch';
 }
 .colone1 san, .partie2 san{
     font-weight: bold;
     
 }

 .hrR{
     background-color: rgb(109, 21, 21);
     height: 7px;
 }
 .pt1 san, .pt2 san, .pt3 san, .pt4 san, .pt5 san, .pt6 san{
    font-weight: bold;
 }
 .partie1{
    background-color:rgb(206, 201, 201) ;
    padding: 1em;
    text-align: center;
 }
 .partie1 input{
     margin-top: 1em;
     padding-left: 1em;
     color: rgb(54, 8, 8);
     height:2em ;
     font-weight: bold;
     
     border: none;
     background: rgba(255, 255, 255, 0.966);
     backdrop-filter: blur(5px);
 }

 
   .grand, .colone1, .colone2{
       display: inline-block;
       vertical-align: top;
    
   }
   .grand{
       margin-top: 2em;
       padding: 10px;
       
   }
   .colone1{
    padding: 10px;
   }
   .colone2{
    padding: 10px;
    
}
.gris{
    color: rgb(110, 98, 40);
}
.ava{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(109, 21, 21);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 100;

}
.partie1 h3{
    font-family: 'Android Scratch';
}
.partie1{
    padding-bottom: 3em;
    padding-top: 3em;
}
.partie1 .ins{
    

   color: white;
  /* border: 1px solid  rgb(109, 21, 21);;*/
   padding: 5px;
   font-style: normal;
   background-color: rgb(109, 21, 21);
   font-family: sans-serif;
   font-size: 1.2em;
   text-align: left;
}
.avaa{
    color:  rgb(109, 21, 21);
    font-family: 'Android Scratch';
}
.tsip{
    color:   rgb(109, 21, 21);
    border-bottom: 1px solid   rgb(109, 21, 21);
}
.parti3 h2{
    font-family: 'Android Scratch';
    color:  rgb(109, 21, 21);
}
.parti3{
    text-align: center;
    padding: 1em;
    color: rgb(0, 0, 0);
    background-color:rgb(206, 201, 201) ;
}
.ex{
    width: 2em;
}
.ca1{
 text-align: center;
 padding-top: 3.2em;
 padding-bottom: 3.2em;
 box-shadow: 3px 3px 5px rgb(0, 0, 0);
padding-left:2em ;
padding-right: 2em;
border-radius: 1em 0 0 1em;
background: rgb(216, 214, 214);
}
.ca1 input{
    margin-top: 1em;
    height: 1.5em;
    border: none;
    padding: 1em;
    box-shadow: 2px 2px 3px grey;
    border-radius: 5px;
}
.ca1 h1{
    font-family: sans-serif;
    color: rgb(109, 21, 21);

}
.ca1 span{
    border-radius: 1em;
    background-color: rgb(199, 116, 61);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    
}
.ca2{
    border-radius: 0 1em 1em 0;
    padding-top: 10em;
    padding-bottom: 10em;
    text-align: center;
    padding-left:2em ;
    padding-right: 2em;
    background: linear-gradient(rgb(39, 4, 4), rgb(82, 15, 15), rgb(109, 21, 21),rgb(109, 21, 21), rgb(82, 15, 15),rgb(39, 4, 4));
    box-shadow: 3px 3px 5px rgb(0, 0, 0);  
  
}
.ca2 h1{
    font-family: sans-serif;
}
.ca1 h1{
    font-family: sans-serif;
}
.ca1, .ca2{
    display: inline-block;
    
    vertical-align: middle;
}
.tout{
    padding-top: 18%;
    margin-left: 28%;
    padding-bottom: 10%;
    
}
.contact{
   background-color: white;
}

@media (max-width:600px)
{
    html{
        font-size: 50%;
    }
}

@media (max-width:1039px)
{
    html{
        font-size: 85%;
    }
    
}